@{
    ViewBag.Title = "Projects";
}
<h2>@ViewBag.Title.</h2>

<div>
    <div>
        <h2>Azzier CMMS</h2>
        <ul>
            <li>
                Worked collaboratively with a customer service team to develop and maintain the CMMS software.
            </li>
            <li>
                Provided better manage, predict, and optimize clients’ assets.
            </li>
            <li>
                Helped to boost operating efficiency with maintenance management.
            </li>
            <li>
                Technologies: ASP.NET, C#, MS SQL Server 2014, Ajax, JSON, JavaScript, SVN, WEB API, and CORS
            </li>
        </ul>
        <p><a class="btn btn-default" href="@Url.Action("Projects", "Home")">Back To Projects</a></p>
    </div>
</div>
<div>
    <b>
        <ol>
            <li>
                Azzier CMMS Software
                <br />
                My role was to develop, test, and maintain the CMMS software to provide better manage, predict, and optimize clients’ assets, operations. There are two significant projects for me. The first one is to develop user interface for css style; therefore, user can decorate the web application using css editor. The most challenging part was to customize Telerik UI for RadGrid and KendoGrid because it was difficult to automatically sort CSS properties from client-side. In addition, I need to consider performance and efficiency without creating external css style; therefore, I used getComputedStyle method to get computed value of style property and populate them on the screen. In addition, every user can save their style into user settings.
                The second project is to develop Android application using Cross-Origin Resource sharing so that it can transfer date from master domain to client domain.
                Login/ Validation company key code/ download and upload data/ uploading files and update data with specific process.
                <br />
                <p>Work Order Page</p>
                <img src="~/Image/Azzier-web.png" style="width:80%;" />
                <p>CSS Generator using RadGrid</p>
                <img src="~/Image/Azzier-CSSEditor.png" style="width:80%;" />
                <p>CSS Theme with Editor</p>
                <img src="~/Image/Azzier-Radgrid.png" style="width:80%;" />
            </li>
            <li>
                Azzier Android Application
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <p>Azzier Mobild on Google Play</p>
                        <img src="~/Image/AzzierMobile-GooglePlay.png" style="width:100%;" />
                    </div>
                    <div class="col-md-4">
                        <p>Download Work Order</p>
                        <img src="~/Image/AzzierMobile-download.png" style="width: 50%;" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p>Check Work Order</p>
                        <img src="~/Image/Azzier-Mobile2.png" style="width:50%;" />
                    </div>
                    <div class="col-md-4">
                        <p>Work Order</p>
                        <img src="~/Image/AzzierMobile-WO.png" style="width: 100%;" />
                    </div>
                </div>

            </li>
        </ol>
    </b>
</div>
<p><a class="btn btn-default" href="@Url.Action("Projects", "Home")">Back To Projects</a></p>
</div>