@{
    ViewBag.Title = "Projects";
}
<h2>@ViewBag.Title.</h2>

<div>
    <div>
        <h2>Azzier CMMS</h2>
        <ul>
            <li>
                Worked collaboratively with a customer service team to develop and maintain the CMMS software.
            </li>
            <li>
                Provided better manage, predict, and optimize clients’ assets.
            </li>
            <li>
                Helped to boost operating efficiency with maintenance management.
            </li>
            <li>
                Technologies: ASP.NET, C#, MS SQL Server 2014, Ajax, JSON, JavaScript, SVN, WEB API, and CORS
            </li>
        </ul>
        <p><a class="btn btn-default" href="@Url.Action("Projects", "Home")">Back To Projects</a></p>
    </div>
</div>
<div>
    <b>
        <ol>
            <li>
                Azzier CMMS Software
                <br />
                <img src="~/Image/Azzier-web.png" style="width:50%;" />
            </li>
            <li>
                Azzier Android Application
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <p>Login Page</p>
                        <img src="~/Image/Azzier-Mobile.png" style="width:50%;" />
                    </div>
                    <div class="col-md-4">
                        <p>Check Work Order/p>
                        <img src="~/Image/Azzier-Mobile2.png" style="width:50%;" />
                    </div>
                </div>
                   
                    
            </li>
        </ol>
    </b>
</div>
<p><a class="btn btn-default" href="@Url.Action("Projects", "Home")">Back To Projects</a></p>
</div>