@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>    
    Bunaby, BC, CANADA <br />
    <abbr title="Phone">P:</abbr>
    +1-604-812-8504
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:kbyunghak@gmail.com">kbyunghak@gmail.com</a><br />
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/kbyunghak/">https://www.linkedin.com/in/kbyunghak/</a>
</address>