@{
    ViewBag.Title = "Projects";
}
<h2>@ViewBag.Title.</h2>

<div class="row">
    <div>
        <h2>Module Assembly Timer</h2>
        <ul>
            <li>
                As a project leader, I made a project schedule and managed a project development meeting.
            </li>
            <li>
                Designed and developed DB schema and applications using C# .NET MVC.
            </li>
            <li>
                Collected all task time and analyzed the working patterns. It helped understanding what their tasks
                are and issues.
            </li>
            <li>
                Designed entity-relationship model and created test cases and test plan and performed manual
                testing of a web-based application.
            </li>
            <li>
                Technologies: ASP.NET Core, C#, MS SQL, T-SQL, Ajax, JSON, JavaScript, SVN, and IIS
            </li>
        </ul>
        <p><a class="btn btn-default" href="@Url.Action("Projects", "Home")">Back To Projects</a></p>    
</div>