@{
    ViewBag.Title = "Projects";
}
<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-md-4">
        <h2>Ballard Bus Data</h2>
        <ul>
            <li>
                As a project leader, I worked alongside executive leadership, project managers, control engineers,
                and end users to develop solutions to organizational needs.
            </li>
            <li>
                Developed a real-time data ingress system that download Bus data from FTP/SFTP server and
                convert DAT data into SQL data format. In addition, it imported approximately 50K files into SQL
                Local DB for Ballard, AVEVA Insight 3rd party server, and Azure Cloud Server every day.
            </li>
            <li>
                Maintained the Ballard Bus System in C# ASP.NET Core resulting in a remarkable 30 % reduction in
                processing time.
            </li>
            <li>
                Developed a web application to provide essential support for a controls team; therefore, it can
                check data loss, backfill missing data, and configure bus modules using a web application, resulting
                in a significant increase in overall team productivity.
            </li>
            <li>
                Technologies: C# ASP.NET MVC, VB, MS SQL, Ajax, Json, Git, Aveva, IIS and Azure.
            </li>
        </ul>
        <p><a class="btn btn-default" href="@Url.Action("BBD", "Home")">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Module Assembly Timer</h2>
        <ul>
            <li>
                As a project leader, I made a project schedule and managed a project development meeting.
            </li>
            <li>
                Designed and developed DB schema and applications using C# .NET MVC.
            </li>
            <li>
                Collected all task time and analyzed the working patterns. It helped understanding what their tasks
                are and issues.
            </li>
            <li>
                Designed entity-relationship model and created test cases and test plan and performed manual
                testing of a web-based application.
            </li>
            <li>
                Technologies: ASP.NET Core, C#, MS SQL, T-SQL, Ajax, JSON, JavaScript, SVN, and IIS
            </li>
        </ul>
        <p><a class="btn btn-default" href="@Url.Action("MAT", "Home")">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Azzier CMMS</h2>
        <ul>
            <li>
                Worked collaboratively with a customer service team to develop and maintain the CMMS software.
            </li>
            <li>
                Provided better manage, predict, and optimize clients’ assets.
            </li>
            <li>
                Helped to boost operating efficiency with maintenance management.
            </li>
            <li>
                Technologies: ASP.NET, C#, MS SQL Server 2014, Ajax, JSON, JavaScript, SVN, WEB API, and CORS
            </li>
        </ul>
        <p><a class="btn btn-default" href="@Url.Action("Azzier", "Home")">Learn more &raquo;</a></p>
    </div>
</div>